<div class="form-item form-item--time">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-time',
    input_label: 'Time',
    input_type: 'time',
    input_title: 'Time (e.g. 09:30:30)',
    input_step: 1,
    input_size: 12
  }%}
</div>
