<nav class="usa-nav" role="navigation" aria-label="{{ label }}">
  <div class="usa-nav__inner">
    <button class="usa-nav__close">{{ 'Close'|t }}</button>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</nav>
