<div class="form-item form-item--checkbox">
  {% include "@uswds/checkbox/checkbox.twig" with {
    checkbox_id: checkbox_id,
    checkbox_disable: checkbox_disable,
    checkbox_checked: checkbox_checked,
    checkbox_label: checkbox_label
  }%}
</div>
