<div class="form-item form-item--range">
  {% include "@uswds/range/range.twig" with {
    range_id: 'edit-range',
    range_label: 'Range',
    range_min: 0,
    range_max: 100,
    range_step: 1
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--range is-disabled">
  {% include "@uswds/range/range.twig" with {
    range_id: 'edit-range-disabled',
    range_label: 'Disabled Range',
    range_min: 0,
    range_max: 100,
    range_step: 1,
    range_disabled: true
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--range is-full-width">
  {% include "@uswds/range/range.twig" with {
    range_id: 'edit-range-full',
    range_label: 'Full-Width Range',
    range_min: 0,
    range_max: 100,
    range_step: 1
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>
