// @file
// Styles for form items.

.form-item {
  margin: 0 0 rem(gesso-spacing(3));
}

// .form-item__legend {}

.form-item__description {
  color: gesso-color(text, secondary);
  font-size: font-size(body, sm);

  > :last-child {
    margin-bottom: 0;
  }
}
