<div class="form-item form-item--select">
  {% include "@uswds/select/select.twig" with {
    dropdown_label: 'Select',
    dropdown_id: 'edit-select',
    dropdown_options: [
      {
        value: '',
        label: 'Option One'
      },
      {
        value: '',
        label: 'Option Two'
      },
      {
        value: '',
        label: 'Option Three'
      },
      {
        value: '',
        label: 'Option Four'
      },
      {
        value: '',
        label: 'Option Five'
      },
      {
        value: '',
        label: 'Disabled Option',
        disabled: true
      }
    ]
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--select">
  {% include "@uswds/select/select--groups/select--groups.twig" with {
    dropdown_label: 'Select with groups',
    dropdown_id: '"edit-select-groups',
    dropdown_options: [
      {
        group_label: 'Group One',
        items: [
        {
          value: '',
          label: 'Option One'
        },
        {
          value: '',
          label: 'Option Two'
        },
        {
          value: '',
          label: 'Option Three'
        }
        ]
      },
      {
        group_label: 'Group Two',
        items: [
        {
          value: '',
          label: 'Option Four'
        },
        {
          value: '',
          label: 'Option Five'
        },
        {
          value: '',
          label: 'Option Six'
        }
      ]
      }
    ]
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--select is-disabled">
  {% include "@uswds/select/select.twig" with {
    dropdown_label: 'Disabled select',
    dropdown_id: 'edit-select-disabled',
    dropdown_disabled: true,
    dropdown_options: [
      {
        value: '',
        label: 'Option One'
      },
      {
        value: '',
        label: 'Option Two'
      },
      {
        value: '',
        label: 'Option Three'
      },
      {
        value: '',
        label: 'Option Four'
      },
      {
        value: '',
        label: 'Option Five'
      },
      {
        value: '',
        label: 'Disabled Option',
        disabled: true
      }
    ]
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--select is-full-width">
  {% include "@uswds/select/select.twig" with {
    dropdown_label: 'Full width select',
    dropdown_id: 'edit-select-width',
    dropdown_options: [
      {
        value: '',
        label: 'Option One'
      },
      {
        value: '',
        label: 'Option Two'
      },
      {
        value: '',
        label: 'Option Three'
      },
      {
        value: '',
        label: 'Option Four'
      },
      {
        value: '',
        label: 'Option Five'
      },
      {
        value: '',
        label: 'Disabled Option',
        disabled: true
      }
    ]
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>
