<div class="mobile-lg:grid-col-8">
  <nav class="usa-footer__nav">
  {% include '@components/menu/menu.twig' with {
    'menu_name': menu_name,
    'items': items,
    'menu_class': ['grid-row', 'grid-gap'],
    'item_class': ['usa-footer__primary-content', 'mobile-lg:grid-col-6', 'desktop:grid-col-auto'],
    'link_class': ['usa-footer__primary-link']
  } %}
  </nav>
</div>
