<div class="form-item form-item--textfield">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-textfield',
    input_label: 'Textfield',
    input_size: 60,
    input_max: 128
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textfield">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-textfield-placeholder',
    input_label: 'Textfield with placeholder',
    input_size: 60,
    input_max: 128,
    input_placeholder: 'Placeholder text'
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textfield is-disabled">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-textfield-disabled',
    input_label: 'Disabled textfield',
    input_size: 60,
    input_max: 128,
    input_disabled: true
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textfield is-full-width">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-textfield-full',
    input_label: 'Full width textfield',
    input_size: 60,
    input_max: 128
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textfield is-required">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-textfield-required',
    input_label: 'Required textfield',
    input_size: 60,
    input_max: 128,
    input_required: true
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--email">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-email',
    input_label: 'Email',
    input_size: 60,
    input_max: 255,
    input_type: 'email'
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--number">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-number',
    input_label: 'Number',
    input_type: 'number'
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--password">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-password',
    input_label: 'Password',
    input_size: 60,
    input_max: 128,
    input_type: 'password'
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--search">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-search',
    input_label: 'Search',
    input_size: 60,
    input_max: 128,
    input_type: 'search'
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--tel">
  {% include "@uswds/input/input.twig" with {
    input_id: 'edit-tel',
    input_label: 'Telephone',
    input_size: 30,
    input_max: 128,
    input_type: 'tel'
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textarea">
  {% include "@uswds/textarea/textarea.twig" with {
    textarea_id: 'edit-textarea',
    textarea_label: 'Textarea',
    textarea_rows: 5,
    textarea_cols: 60
  }%}
  <div class="form-item__description">The description for this form field.</div>
</div>
