<footer class="l-footer usa-footer usa-footer--slim" role="contentinfo">
  {% if has_back_to_top %}
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">{{ 'Return to top'|t }}</a>
    </div>
  {% endif %}
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      {% block content %}
        Footer Content
      {% endblock %}
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap-2">
        {% block secondary %}
          Secondary Content
        {% endblock %}
      </div>
    </div>
  </div>
</footer>
