<div class="form-item form-item--radio">
  {% include "@uswds/radio/radio.twig" with {
    radio_id: radio_option_id,
    radio_name: 'edit-radios',
    radio_disabled: radio_option_disabled,
    radio_checked: radio_option_checked,
    radio_label: radio_option_label,
    radio_value: ''
  }%}
</div>
