{% set classes = [
  'fieldset',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<fieldset class="{{ classes }}">
  <legend class="fieldset__legend">{{ fieldset_legend }}</legend>
  <div class="usa-hint">{{ fieldset_description }}</div>
  {{ fieldset_content }}
</fieldset>
