{% embed "@uswds/fieldset/fieldset.twig" with {
  description_id: 'edit-radios-description',
  description: '<p>The description for this form field.</p>',
  legend: 'Radios'
}%}
  {% block fieldset_content %}
    <div class="form-item form-item--radios">
      {% include '@components/form-item/form-item--radio/form-item--radio.twig' with {
        'radio_option_id': 'edit-radios-one',
        'radio_option_label': 'Option One'
      } %}
      {% include '@components/form-item/form-item--radio/form-item--radio.twig' with {
        'radio_option_id': 'edit-radios-two',
        'radio_option_label': 'Option Two'
      } %}
      {% include '@components/form-item/form-item--radio/form-item--radio.twig' with {
        'radio_option_id': 'edit-radios-three',
        'radio_option_label': 'Option Three'
      } %}
      {% include '@components/form-item/form-item--radio/form-item--radio.twig' with {
        'radio_option_id': 'edit-radios-four',
        'radio_option_label': 'Option Four'
      } %}
      {% include '@components/form-item/form-item--radio/form-item--radio.twig' with {
        'radio_option_id': 'edit-radios-five',
        'radio_option_label': 'Disabled Option',
        'radio_option_disabled': true
      } %}
    </div>
  {% endblock %}
{% endembed %}
