// HTML Element: Ordered List

@use '00-config' as *;

ol {
  @extend %usa-list;

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding-left: 0;
      padding-right: 3ch;
    }
  }

  ol,
  ul {
    margin-top: rem(gesso-spacing(1));
  }
}
