// @file
// Table styles.

table {
  @extend %usa-table;
  @include vertical-spacing(rem(gesso-spacing(1)));
}

caption {
  @include vertical-spacing(rem(gesso-spacing(0)));
  margin: 0;
}

thead {
  @media print {
    display: table-header-group;
  }
}

tr {
  @media print {
    page-break-inside: avoid;
  }
}
