<div class="form-item form-item--date">
  {% include "@uswds/date-input/date-input.twig" with {
    label: 'Date',
    month_id: 'edit-date-1',
    day_id: 'edit-date-2',
    year_id: 'edit-date-3'
  }%}
</div>
