// HTML Element: Preformatted Text

pre {
  margin: 0 0 rem(gesso-spacing(2));
  overflow: auto;

  // Add top margin when preceded by another element.
  * + & {
    margin-top: 1em;
  }

  // Add top margin to item directly after this.
  + * {
    margin-top: 1em;
  }

  @media print {
    page-break-inside: avoid;
  }
}
