<div class="usa-overlay"></div>
<header class="usa-header{% if is_extended %} usa-header--extended{% else %} usa-header--basic{% endif %} {{ modifier_classes }}" role="banner">
  {% block content %}
    Header Content
  {% endblock %}
</header>
